[Unit]
Description=Pool manager

[Service]
Environment="POOLMANAGER_LISTENON=:8000"
Environment="POOLMANAGER_PASSWORD=dummy"
Environment="POOLMANAGER_PUMPGPIO1=GPIO23"
Environment="POOLMANAGER_PUMPGPIO2=GPIO24"
Environment="POOLMANAGER_HEATERGPIO=GPIO3"
Environment="POOLMANAGER_TEMPSENSORID=04170328afff"
ExecStart=/home/pi/poolmanager/main

[Install]
WantedBy=multi-user.target