<!DOCTYPE html>
<html>
  <head>
    <title>Index</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="static/bundle.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
  </head>
  <body class="home mdc-typography">
    <div id="root">
      <header class="mdc-top-app-bar mdc-top-app-bar--fixed">
        <div class="mdc-top-app-bar__row">
          <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
            <button class="mdc-icon-button material-icons mdc-top-app-bar__navigation-icon--unbounded">menu</button><span class="mdc-top-app-bar__title">Pool manager</span> </section>
          <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end">
            <button class="mdc-icon-button material-icons mdc-top-app-bar__action-item--unbounded" aria-label="Bookmark this page">bookmark</button>
          </section>
        </div>
      </header>
      <div id="content" class="mdc-top-app-bar--fixed-adjust">
        <div class="mdc-layout-grid">
          <form method="POST">
          <div class="mdc-layout-grid__inner">
            
            {{if eq .Function "default"}}
              {{range $controller, $config := .AllConfig}}
              <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
                <h2 class="mdc-typography--headline6">Controller: {{$controller}}</h2>
                  {{range $index, $item := $config}}
                    <p>{{$item.Key}}:</p>
                    {{if eq $item.DetectedType "int"}}
                    <div class="mdc-slider mdc-slider--discrete" tabindex="0" role="slider"
                        aria-valuemin="15" aria-valuemax="30" aria-valuenow="{{$item.Value}}"
                        aria-label="Select Value">
                      <div class="mdc-slider__track-container">
                        <div class="mdc-slider__track"></div>
                      </div>
                      <div class="mdc-slider__thumb-container">
                        <div class="mdc-slider__pin">
                          <span class="mdc-slider__pin-value-marker"></span>
                        </div>
                        <svg class="mdc-slider__thumb" width="21" height="21">
                          <circle cx="10.5" cy="10.5" r="7.875"></circle>
                        </svg>
                        <div class="mdc-slider__focus-ring"></div>
                      </div>
                    </div>
                    {{else if eq $item.DetectedType "float64"}}
                    <div class="mdl-textfield mdl-js-textfield">
                      <input class="mdl-textfield__input" type="text" id="{{$controller}}-{{$item.Key}}" name="{{$controller}}-{{$item.Key}}" pattern="[1-9\.]*" value="{{$item.Value}}">
                      <span class="mdl-textfield__error">Floating number only</span>
                      <label class="mdl-textfield__label" for="{{$item.Key}}">{{$item.Key}}</label>
                    </div>
                    {{end}}
                  {{end}}
              </div>
              {{end}}
              <div class="mdl-card__actions">
                <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                  Submit
                </button>
              </div>
              {{else}}
              {{.Debug}}
              {{end}}    
            </div>
          </form>
        </div>
      </div>
    </div>
    <script src="static/bundle.js" async></script>
    <script langauage = "javascript">
    </script>
  </body>
</html>
