<!DOCTYPE html>
<html>
  <head>
    <title>Index</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="static/bundle.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
  </head>
  <body class="home mdc-typography">
    <div id="root">
      <header class="mdc-top-app-bar mdc-top-app-bar--fixed mdc-top-app-bar--dense">
        <div class="mdc-top-app-bar__row">
          <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
            <button class="mdc-icon-button material-icons mdc-top-app-bar__navigation-icon--unbounded">menu</button><span class="mdc-top-app-bar__title">Pool manager</span> </section>
          <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end">
            <button class="mdc-icon-button material-icons mdc-top-app-bar__action-item--unbounded" id="more-button" aria-label="More">more_vert</button>
          </section>
        </div>
      </header>
      <div id="content" class="mdc-top-app-bar--dense-fixed-adjust">
        <div class="mdc-layout-grid">
          <div class="mdc-layout-grid__inner">
          {{if eq .Function "login"}}
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
              <h2 class="mdc-typography--headline6">Login</h2>
              <div class="password-input-wrapper">
                <div class="password-input-text">
                  <label class="mdc-text-field mdc-text-field--filled">
                  <span class="mdc-text-field__ripple"></span>
                  <input class="mdc-text-field__input password-input-field" type="password" aria-labelledby="my-label-id" required minlength="8">
                  <span class="mdc-floating-label" id="my-label-id">Password</span>
                  <span class="mdc-line-ripple"></span>
                </label>
                </div>
                <div class="password-input-button">
                  <button class="mdc-button mdc-button--raised password-button">
                    <span class="mdc-button__label">Login</span>
                  </button>
                </div>
              </div>
            </div>
          {{end}}
          {{if eq .Function "default"}}
              {{ $ConfigValues := .ConfigValues }}
              {{range $controller, $configProperty := .ConfigProperties}}
              <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
                <h2 class="mdc-typography--headline6">{{$controller}}</h2>
                  {{range $index, $item := $configProperty.Toggles}}
                    <div class="mdc-switch" controller="{{$controller}}" key="{{$item.Name}}">
                      <div class="mdc-switch__track"></div>
                      <div class="mdc-switch__thumb-underlay">
                        <div class="mdc-switch__thumb"></div>
                        <input type="checkbox" id="{{$controller}}-{{$item.Name}}" class="mdc-switch__native-control" role="switch" aria-checked="{{ with (index $ConfigValues $controller) }}{{ with (index .Toggles $item.Name) }}{{.}}{{ end }}{{ end }}">
                      </div>
                    </div>
                    <label class="switch-label" for="{{$controller}}-{{$item.Name}}">{{$item.Name}}</label>
                  {{end}}
                  {{range $index, $item := $configProperty.Ranges}}
                    <p class="slider-label">{{$item.Name}}: <span id="slider-value-{{$controller}}-{{$item.Name}}"></span></p>
                    <div class="slider-value-wrapper">
                      <div class="slider-value-div-min">
                        <p class="slider-value-min">{{$item.Min}}</p>
                      </div>
                      <div class="slider-value-div">
                      <div class="mdc-slider" tabindex="0" role="slider"
                        aria-valuemin="{{$item.Min}}" aria-valuemax="{{$item.Max}}" aria-valuenow="{{ with (index $ConfigValues $controller) }}{{ with (index .Ranges $item.Name) }}{{.}}{{ end }}{{ end }}"
                        aria-label="Select Value" data-step="{{$item.Step}}" controller="{{$controller}}" key="{{$item.Name}}">
                        <div class="mdc-slider__track-container">
                          <div class="mdc-slider__track"></div>
                        </div>
                        <div class="mdc-slider__thumb-container">
                          <svg class="mdc-slider__thumb" width="21" height="21">
                            <circle cx="10.5" cy="10.5" r="7.875"></circle>
                          </svg>
                          <div class="mdc-slider__focus-ring"></div>
                        </div>
                      </div>
                    </div>
                    <div class="slider-value-div-max">
                      <p class="slider-value-max">{{$item.Max}}</p>
                    </div>
                  </div>
                {{end}}
              </div>
              {{end}}
              {{else}}
              {{.Debug}}
            {{end}}    
          </div>
        </div>
      </div>
      <div class="mdc-snackbar">
        <div class="mdc-snackbar__surface">
          <div class="mdc-snackbar__label"
               role="status"
               aria-live="polite">
          </div>
          <div class="mdc-snackbar__actions">
            <button type="button" class="mdc-button mdc-snackbar__action">
              <div class="mdc-button__ripple"></div>
              <span class="mdc-button__label">Dismiss</span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <script langauage = "javascript">
      const pageFunction = "{{.Function}}"
    </script>
    <script src="static/bundle.js" async></script>
  </body>
</html>
