<!DOCTYPE html>
<html>
  <head>
    <title>Index</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="static/bundle.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
  </head>
  <body class="home mdc-typography">
    <div id="root">
      <header class="mdc-top-app-bar mdc-top-app-bar--fixed">
        <div class="mdc-top-app-bar__row">
          <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
            <button class="mdc-icon-button material-icons mdc-top-app-bar__navigation-icon--unbounded">menu</button><span class="mdc-top-app-bar__title">Pool manager</span> </section>
          <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end">
            <button class="mdc-icon-button material-icons mdc-top-app-bar__action-item--unbounded" aria-label="Bookmark this page">bookmark</button>
          </section>
        </div>
      </header>
      <div id="content" class="mdc-top-app-bar--fixed-adjust">
        <div class="mdc-layout-grid">
          <form method="POST">
          <div class="mdc-layout-grid__inner">
            
            {{if eq .Function "default"}}
              {{ $ConfigValues := .ConfigValues }}
              {{range $controller, $configProperty := .ConfigProperties}}
              <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
                <h2 class="mdc-typography--headline6">Controller: {{$controller}}</h2>
                  {{range $key, $item := $configProperty.Ranges}}
                    <p>{{$key}}:</p>
                    <div class="mdc-slider" tabindex="0" role="slider"
                      aria-valuemin="{{$item.Min}}" aria-valuemax="{{$item.Max}}" aria-valuenow="{{ with (index $ConfigValues $controller) }}{{ with (index .Ranges $key) }}{{.}}{{ end }}{{ end }}"
                      aria-label="Select Value" data-step="{{$item.Step}}" controller="{{$controller}}" key="{{$key}}">
                      <div class="mdc-slider__track-container">
                        <div class="mdc-slider__track"></div>
                      </div>
                      <div class="mdc-slider__thumb-container">
                        <svg class="mdc-slider__thumb" width="21" height="21">
                          <circle cx="10.5" cy="10.5" r="7.875"></circle>
                        </svg>
                        <div class="mdc-slider__focus-ring"></div>
                      </div>
                    </div>
                  {{end}}
                  {{range $key, $item := $configProperty.Toggles}}
                    <div class="mdc-switch" controller="{{$controller}}" key="{{$key}}">
                      <div class="mdc-switch__track"></div>
                      <div class="mdc-switch__thumb-underlay">
                        <div class="mdc-switch__thumb"></div>
                        <input type="checkbox" id="{{$controller}}-{{$key}}" class="mdc-switch__native-control" role="switch" aria-checked="{{ with (index $ConfigValues $controller) }}{{ with (index .Toggles $key) }}{{.}}{{ end }}{{ end }}">
                      </div>
                    </div>
                    <label for="{{$controller}}-{{$key}}">{{$key}}</label>
                  {{end}}
              </div>
              {{end}}
              {{else}}
              {{.Debug}}
              {{end}}    
            </div>
          </form>
        </div>
      </div>
      <div class="mdc-snackbar">
        <div class="mdc-snackbar__surface">
          <div class="mdc-snackbar__label"
               role="status"
               aria-live="polite">
          </div>
          <div class="mdc-snackbar__actions">
            <button type="button" class="mdc-button mdc-snackbar__action">
              <div class="mdc-button__ripple"></div>
              <span class="mdc-button__label">Dismiss</span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <script src="static/bundle.js" async></script>
    <script langauage = "javascript">

    </script>
  </body>
</html>
