@use '@material/button/mdc-button';
@use '@material/button';
@use '@material/slider';
@use '@material/slider/mdc-slider';
@use "@material/top-app-bar/mdc-top-app-bar";
@use "@material/icon-button/mdc-icon-button";
@use "@material/typography/mdc-typography";
@use "@material/form-field/mdc-form-field";
@use "@material/checkbox/mdc-checkbox";
@use "@material/snackbar/mdc-snackbar";
@use "@material/switch/mdc-switch";
@import "@material/layout-grid/mdc-layout-grid";

html, body {
    height: 100%;
}
  
.home {
    display: flex;
    margin: 0px;
}

.mdc-layout-grid__cell {
    padding: 16px;
    background-color: rgb(235, 235, 235);
}

.slider-label {
    margin-bottom: 0px;
}