@use "@material/theme" with (
  $primary: #38b1ff,
  $secondary: #ff8838,
  $on-primary: #442b2d,
  $on-secondary: #442b2d,
);

@use '@material/button/mdc-button';
@use '@material/button';
@use '@material/slider';
@use '@material/slider/mdc-slider';
@use "@material/top-app-bar/mdc-top-app-bar";
@use "@material/icon-button/mdc-icon-button";
@use "@material/typography/mdc-typography";
@use "@material/form-field/mdc-form-field";
@use "@material/checkbox/mdc-checkbox";
@use "@material/snackbar/mdc-snackbar";
@use "@material/switch/mdc-switch";
@use "@material/textfield";
@include textfield.core-styles;
@import "@material/layout-grid/mdc-layout-grid";
@include button.core-styles;

html, body {
    height: 100%;
}
  
.home {
    display: flex;
    margin: 0px;
}

.mdc-layout-grid__cell {
    padding: 16px;
    //background-color: #E0F2F1;
    border: 1px solid lightgrey;
    border-radius: 8px;
    min-width: 300px;
}

.slider-label {
    margin-bottom: 0px;
}

.slider-value-wrapper, .password-input-wrapper, .status-wrapper {
    margin-top: 0px;
    width:100%;
    display: block
}

.password-input-text, .status-text {
    float:left;
//    border: 1px solid red;
    width: 70%;
}

.password-input-button, .status-value {
    //    border: 1px solid green;
    float: right;
    //    width: 15%
}

.slider-value-div-min {
    float:left;
    text-align:center;
//    border: 1px solid red;
    width: 15%;
}

.slider-value-div {
    display: inline-block;
//    border: 1px solid blue;
    width: 70%;
}

.slider-value-div-max {
//    border: 1px solid green;
    text-align:center;
    float:right;
    width: 15%
}

.slider-value {
    margin-top: 0px;
    text-align: left;
    padding-left: 45%;
}

.mdc-typography--headline6 {
    margin-top: 0px;
}

.switch-label {
    padding-left: 10px;
}

.status-value p {
    margin-left: 16px;
}

.status-text p {
    white-space: nowrap;
}

.dot {
    height: 13px;
    width: 13px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    border: 1px solid lightgrey;
}

.green-dot {
    background-color: #38ffeb;
}
